.question-panel {
  width: 820px;
  height: 660px;
  margin: 2.5% auto 0 auto;
  padding: 15px 90px 0 90px;
}

.feedback {
  width: 650px;
  height: 420px;
  padding: 2% 5% 0 6%;
  margin: 10% auto 0 auto;
}

.feedback h4 {
  text-align: center;
  padding-top: 3%;
}

.feedback-b {
  padding-top: 3%;
  padding-left: 8%;
}

button {
  float: right;
}

tg-nav-button {
  float: right;
  margin-top: 40px;
}
