<div *ngIf="!answersSubmitted" class="question-panel card">
  <h2>Quiz</h2>
  <form (ngSubmit)="checkAnswer()" class="type1-text">
    <div *ngFor="let question of questions; let idx=index">
      <span [innerHTML]="question.question"></span>
      <ul>
        <li>
          <label for="{{question.id}}a">
            <input type="radio" name="{{question.id}}" id="{{question.id}}a" [(ngModel)]="answers[idx].value" value=1>
            <span [innerHTML]="question.a"></span>
          </label>
        </li>
        <li>
          <label for="{{question.id}}b">
            <input type="radio" name="{{question.id}}" id="{{question.id}}b" [(ngModel)]="answers[idx].value" value=2>
            <span [innerHTML]="question.b"></span>
          </label>
        </li>
      </ul>
    </div>
    <button type="submit" [disabled]="!isValid()">Submit</button> 
  </form>
</div> <!-- .question-panel -->

<div *ngIf="answersSubmitted" class="feedback card">
  <h4>Correct: {{ numCorrect }}/3</h4>
  <div *ngIf="numCorrect === 3">
    <span [innerHTML]="feedback.a"></span>
    <tg-nav-button url="players-search" label="Proceed"></tg-nav-button>
  </div>

  <div *ngIf="numCorrect < 3" class="feedback-b">
    <span [innerHTML]="feedback.b"></span>
  </div>
</div> <!-- .feedback -->
