<div class="payoff card">
  <h2>Payoff</h2>
  <p>As mentioned in the instructions, your final payoff is determined by taking the sum 
  of your net gains from two random rounds. Those rounds are <strong>Round {{ idx1 + 1 }}</strong>
  and <strong>Round {{ idx2 + 1 }}.</strong></p>
  <p>The final calculation for your payoff is as follows:</p>
  <p>Round {{ idx1 + 1 }}: Net gain = {{ netGains[idx1] | currency:'USD':true:'1.2-2' }}</p>
  <p>Round {{ idx2 + 1 }}: Net gain = {{ netGains[idx2] | currency:'USD':true:'1.2-2'}}</p>
  <h3>Payoff = {{ netGains[idx1] | currency:'USD':true:'1.2-2'}} + {{ netGains[idx2] | currency:'USD':true:'1.2-2' }} = {{ payoff | currency:'USD':true:'1.2-2'}}</h3>
  <div class="nav-button">
    <tg-nav-button url="code" label="Proceed"></tg-nav-button>
  </div>
</div>
